.section {
  background: var(--primary-color);
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  .section__content {
    // margin-top: 15px;
    // height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--white);

    &--title {
      margin-bottom: 17px;
      font-size: 37px;
    }
  }
  &--description {
    //   margin-bottom: 10px;
  }
}
