* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, sans-serif, Roboto, Helvetica, sans-serif;
  font-size: 16px;
}

/** -=============== Define CSS Variable ===============- */
:root {
  --primary-color: #29b363;
  --white: #ffffff;
  --gray-text: #8e8e8e;
  --joke-component-bg: #fcfcfc;
  /* Button */
  --like-btn-bg: #2c7edb;
  --like-btn-border: #1c69c0;
  --dislike-btn-bg: #29b363;
  --dislike-btn-border: #19984e;
}

.container {
  width: 84%;
  margin: 0 auto;
}

/** -=============== Responsive ===============- */

// Responsive Size
$large-screen: 1600px;
$mobile-screen: 650px;

@media (max-width: $mobile-screen) {
  .container {
    width: 100%;
    margin: 0;
  }

  html {
    font-size: 12px;
  }
}
